<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechXpert - Página Fictícia</title>
    <link rel="shortcut icon" href="/components/Images/Logo_sem_fundo.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- ScrollReveal js -->
    <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
    <header class="cabeçalho">
        <img src="/static/images/Logo_com_nome_sem_fundo.png" alt="Logo" style="height: 70px;">
        <a id="contact" class="anim" style="text-decoration: none;" href="/">Contato</a>
    </header>

    <main>
        <section class="banner">
            <div class="texto">
                <div>
                    <h1 class="titulo">Desvendando a Tecnologia com Expertise e Inovação</h1>
                    <p>Seja bem-vindo à TechXpert, seu destino para soluções tecnológicas inteligentes e consultoria
                        especializada.</p>
                </div>
            </div>
        </section>

        <section class="introducao">
            <div class="intro">
                <h2 id="effect_1" style="opacity: 0;">Olá</h2>
                <h3 id="effect_2">Seja bem-vindo!</h3><br>
                <p>Na TechXpert, somos uma equipe apaixonada por tecnologia e especializada em fornecer soluções
                    inteligentes para impulsionar o sucesso dos nossos
                    clientes. Com uma vasta experiência e conhecimento especializado, estamos comprometidos em desvendar
                    o mundo tecnológico e fornecer soluções
                    personalizadas para atender às necessidades específicas de cada cliente.
                </p>
                <p>Nosso objetivo é ser o parceiro confiável e estratégico para empresas que buscam otimizar seus
                    processos, enfrentar desafios tecnológicos e
                    alcançar resultados excepcionais. Acreditamos que a tecnologia é uma ferramenta poderosa que pode
                    transformar negócios e impulsionar o crescimento.
                </p>
            </div>
        </section>

        <section>
            <div class="label-servicos">
                <h2>Descubra nossos serviços abrangentes que podem impulsionar o seu sucesso no mundo tecnológico</h2>
            </div>
        </section>

        <section>
            <!-- Carousel -->
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">
                    <!-- item 1 -->
                    <div class="carousel-item active">
                        <img src="/static/images/Analista de dados.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Análise de Dados</h5>
                            <p></p>
                        </div>
                    </div>
                    <!-- item 2 -->
                    <div class="carousel-item">
                        <img src="/static/images/Consultoria em TI.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Consultoria em T.I.</h5>
                        </div>
                    </div>
                    <!-- item 3 -->
                    <div class="carousel-item">
                        <img src="/static/images/Desenvolvimento de software.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Desenvolvimento de Software</h5>
                        </div>
                    </div>

                    <!-- item 4 -->
                    <div class="carousel-item">
                        <img src="/static/images/Segurança Cibernética.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Segurança Cibernética</h5>
                        </div>
                    </div>
                    <!--Fim carousel-->
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>

            </div>
        </section>
        <!-- Adiciona apenas a barra azul-->
        <section class="label-servicos">
        </section>

        <!--Serviços TEXTO-->
        <section class="serv">
            <div class="sv">
                <div class="servicos">
                    <div class="background-servicos bg-blue">
                        <h2>Desenvolvimento de Software</h2>
                        <p>No mundo tecnológico em constante evolução, o desenvolvimento de software personalizado é
                            fundamental
                            para impulsionar a eficiência, a inovação
                            e o crescimento dos negócios. Na TechXpert, temos uma equipe de desenvolvedores de software
                            altamente qualificados e experientes que estão prontos
                            para criar soluções sob medida para atender às suas necessidades específicas.</p>
                    </div>

                    <div class="background-servicos bg-gray">
                        <h2>Análise de Dados</h2>
                        <p>Nossa equipe de especialistas em análise de dados possui profundo conhecimento e experiência na
                            coleta, organização e interpretação de conjuntos de dados complexos. Utilizando técnicas
                            avançadas
                            de análise, algoritmos de aprendizado de máquina e visualização de dados interativa, ajudamos
                            você a
                            descobrir insights ocultos e identificar padrões significativos em seus dados.</p>
                    </div>

                    <div class="background-servicos bg-gray">
                        <h2>Segurança Cibernética</h2>
                        <p>Em nossa empresa, compreendemos a necessidade de proteger seus sistemas, dados e informações
                            confidenciais contra as ameaças em constante evolução que rondam o mundo virtual. Nossa
                            equipe de especialistas com ampla experiência em segurança cibernética está pronta para
                            auxiliá-lo a fortalecer sua postura de segurança e garantir a proteção contínua de seus
                            ativos digitais.</p>
                    </div>

                    <div class="background-servicos bg-blue">
                        <h2>Consultoria em TI</h2>
                        <p>Com nossa experiência e conhecimento especializado, ajudamos a otimizar seus processos, tomar
                            decisões informadas e impulsionar o crescimento do seu negócio. Nossa equipe trabalhará em
                            estreita colaboração com você, desde a estratégia de TI até a seleção e implementação de
                            tecnologias, garantindo eficiência operacional, produtividade aprimorada e vantagem
                            competitiva.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="div-feedbacks">
            <h2>Veja o que falam sobre nós</h2>
            <div class="feedbacks">

                <div class="feedback">
                    <img src="/static/images/bill gates.png" alt="Bill gates">
                    <h4>Bill Gates</h4>
                    <p>Minha experiência com a TechXpert tem sido surpreendente! Eles são extremamente profissionais,
                        atenciosos e eficientes. Recomendo a todos que buscam soluções tecnológicas de alto nível."</p>
                </div>

                <div class="feedback">
                    <img src="/static/images/elon musk.png" alt="Bill gates">
                    <h4>Elon Musk</h4>
                    <p>Estou muito satisfeito com a TechXpert. Sua equipe é competente e comprometida em fornecer
                        resultados excepcionais. Eles entendem minhas necessidades e sempre superam minhas expectativas.
                    </p>
                </div>

                <div class="feedback">
                    <img src="/static/images/jeff bezos.png" alt="Bill gates">
                    <h4>Jeff Bezos</h4>
                    <p>TechXpert se destaca pela excelência em seus serviços. Seu conhecimento especializado e
                        atendimento personalizado fazem toda a diferença. Confio plenamente neles para cuidar das minhas
                        necessidades tecnológicas.</p>
                </div>
            </div>
        </section>

        <section class="contato">
            <div>
                <img src="/static/images/Envelope.svg" alt="homem com envelope">
            </div>
            <div class="formulario-1">
                <h2>Entre em contato conosco</h2>
                <div class="formulario">
                    <form action="#">
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form4Example1" class="form-control" placeholder="Nome" />
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form4Example2" class="form-control"
                                placeholder="Endereço de Email" />
                        </div>
                        <!-- Message input -->
                        <div class="form-outline mb-4">
                            <textarea class="form-control" id="form4Example3" rows="4"
                                placeholder="Mensagem"></textarea>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Enviar</button>
                    </form>
                </div>
            </div>
        </section>

        <section class="empresas">
            <div>
                <h2>Empresas Parceiras</h2>
                <div class="logos">
                    <img src="/static/images/logos/apple.png" alt="logo apple">
                    <img src="/static/images/logos/samsung.png" alt="logo samsung">
                    <img src="/static/images/logos/nvidia.png" alt="logo nvidia">
                    <img src="/static/images/logos/amazon.png" alt="logo amazon">
                    <img src="/static/images/logos/microsoft.png" alt="logo microsoft">
                    <img src="/static/images/logos/intel.png" alt="logo intel">
                </div>
            </div>
        </section>

        <footer class="foot">
            <section class="rodape">
                <div class="position-1">
                    <img class="logoRodape" src="/static/images/Logo_com_nome_sem_fundo.png" alt="Techxpert Logo">
                </div>
                <div class="position-2">
                    <p>Endereço: Av. Pres. Epitácio Pessoa, 999, João Pessoa,</p>
                    <p>PB, 00000-000</p>
                    <p>Telefone: (99) 99999-9999</p>
                    <p>Email: techxpert@empresa.com</p>
                </div>

                <div class="position-2-5">
                    <p> Imagens e ícones utilizados com permissão:</p>
                </div>

                <div class="position-3">
                    <ul style="font-size: 15px;">
                        <li>
                            <a href="https://www.flaticon.com/br/icones-gratis/microsoft"
                                title="Microsoft ícones">Microsoft ícones criados por Swifticons - Flaticon</a>
                        </li>
                        <li>
                            <a href="https://www.flaticon.com/br/icones-gratis/macintosh"
                                title="Macintosh ícones">Macintosh ícones criados por Freepik - Flaticon</a>
                        </li>
                        <li>
                            <a href="https://www.flaticon.com/br/icones-gratis/nvidia" title="Nvidia ícones">Nvidia
                                ícones criados por Freepik - Flaticon</a>
                        </li>
                        <li>
                            <a href="https://www.flaticon.com/br/icones-gratis/amazonas"
                                title="Amazonas ícones">Amazonas ícones criados por Xinh Studio - Flaticon</a>
                        </li>
                        <li>
                            <a href="https://www.flaticon.com/br/icones-gratis/samsung" title="Samsung ícones">Samsung
                                ícones criados por Freepik - Flaticon</a>
                        </li>
                    </ul>
                </div>
                <div class="position-3">
                    <ul style="font-size: 15px;">
                        <li>
                            <a href="https://www.flaticon.com/br/icones-gratis/intel" title="Intel ícones">Intel ícones criados por Freepik - Flaticon</a>
                        </li>
                        <li>
                            <a href="https://www.freepik.com/free-photo/close-up-business-team-using-digital-tablet-with-financial-d_1007967.htm#query=analise%20de%20dados&position=5&from_view=search&track=ais">Image by jannoon028 - on Freepik</a>
                        </li>
                        <li>
                            <a href="https://www.freepik.com/free-photo/close-up-programmer-typing-keyboard_18492307.htm#query=cyber%20seguran%C3%A7a&position=6&from_view=search&track=ais"> Close up programmer - Freepik</a>
                        </li>
                        <li>
                            <a href="https://www.freepik.com/free-photo/html-css-collage-concept-with-person_36295457.htm">html-css-collage - Freepik</a>
                        </li>
                        <li>
                            <a href="https://www.freepik.com/free-photo/cropped-photo-business-people-manager-working-their-new-project-classroom_9694542.htm#query=consultoria%20em%20t%20i&position=2&from_view=search&track=ais">cropped-photo-business - on Freepik</a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="rodapeFinal">
                <p>© 2023 TechXpert. Todos os direitos reservados.</p>
            </section>
        </footer>

    </main>
    <script src="/static/scripts/script.js"></script>
</body>
</html>
